---
// root
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";

// data
import { EXPERIENCE } from "@/data/experience";
import { PROJECTS } from "@/data/projects";

// client components
import Spotlight from "@/components/spotlight";
import About from "@/components/home/about";

// astro components
// import Avatar from "@/components/home/avatar.astro";
import OrbitingTech from "@/components/home/orbiting-tech.astro";
import TechList from "@/components/home/tech-list.astro";
import SectionHeader from "@/components/home/section-header.astro";
import Experience from "@/components/home/experience.astro";
import SocialLinks from "@/components/home/social-links.astro";
import Button from "@/components/ui/button.astro";
import Project from "@/components/home/project.astro";
import PageTitle from "@/components/page-title.astro";

// icons
import Pin from "@/components/icons/pin.astro";
import ArrowR from "@/components/icons/arrow-r.astro";
---

<Layout>
  <!-- background effects-->
  <div
    class="absolute inset-0 flex h-[500px] w-full items-center justify-center lg:fixed"
  >
    <Spotlight
      fill="var(--indigo-300)"
      className="absolute -z-10"
      client:idle
    />
  </div>

  <div
    class="page-container relative min-h-svh min-w-[360px] lg:grid lg:grid-cols-10 lg:gap-24"
  >
    <!-- hero -->
    <header
      class="relative w-full lg:sticky lg:top-0 lg:col-span-4 lg:flex lg:max-h-screen lg:flex-col lg:justify-between lg:py-24"
    >
      <div
        class="relative flex flex-grow flex-col items-start gap-12 text-left"
      >
        <div class="flex flex-row gap-6">
          <!-- <Avatar /> -->
          <div class="flex-grow-1 flex-shrink-0">
            <PageTitle class="mb-2">
              <a href="/"> Tim Machnacki </a>
            </PageTitle>
            <h2 class="mb-2 text-lg text-foreground text-zinc-300 lg:text-xl">
              Frontend Software Engineer
            </h2>
            <span class="flex items-center gap-2 text-sm text-muted-foreground">
              <Pin class={"size-4"} />
              Lake Orion, MI
            </span>
          </div>
        </div>
        <SocialLinks class="flex lg:hidden" />
        <About client:load />
      </div>

      <nav
        class="absolute left-0 top-[35rem] hidden flex-shrink-0 flex-grow text-zinc-500 lg:block"
        aria-label="In page jump links"
      >
        <ul class="w-max">
          <li class="relative">
            <a
              id="skills-nav"
              href="#skills"
              class="group flex items-center gap-4 py-2 text-sm font-semibold uppercase tracking-widest transition-all duration-100 hover:text-foreground motion-reduce:transition-none [&.active]:text-foreground"
            >
              <span
                aria-hidden="true"
                class="h-px w-10 bg-zinc-500 transition-all duration-100 group-hover:w-16 group-hover:bg-foreground group-[&.active]:w-16 group-[&.active]:bg-foreground motion-reduce:transition-none"
              ></span>
              <span>Skills</span>
            </a>
          </li>
          <li class="relative">
            <a
              id="experience-nav"
              href="#experience"
              class="group flex items-center gap-4 py-2 text-sm font-semibold uppercase tracking-widest transition-all duration-100 hover:text-foreground motion-reduce:transition-none [&.active]:text-foreground"
            >
              <span
                aria-hidden="true"
                class="h-px w-10 bg-zinc-500 transition-all duration-100 group-hover:w-16 group-hover:bg-foreground group-[&.active]:w-16 group-[&.active]:bg-foreground motion-reduce:transition-none"
              ></span>
              <span>Experience</span>
            </a>
          </li>
          <li class="relative">
            <a
              id="projects-nav"
              href="#projects"
              class="group flex items-center gap-4 py-2 text-sm font-semibold uppercase tracking-widest transition-all duration-100 hover:text-foreground motion-reduce:transition-none [&.active]:text-foreground"
            >
              <span
                aria-hidden="true"
                class="h-px w-10 bg-zinc-500 transition-all duration-100 group-hover:w-16 group-hover:bg-foreground group-[&.active]:w-16 group-[&.active]:bg-foreground motion-reduce:transition-none"
              ></span>
              <span>Projects</span>
            </a>
          </li>
        </ul>
      </nav>

      <SocialLinks class="hidden lg:flex" />
    </header>

    <!-- content -->
    <main class="relative w-full py-24 lg:col-span-6">
      <!-- about -->
      <section
        id="skills"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24 lg:px-4"
        aria-label="About Me"
        data-observable="true"
      >
        <SectionHeader title="Skills" />

        <OrbitingTech />
        <TechList />
      </section>

      <!-- experience -->
      <section
        id="experience"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
        aria-label="Work experience"
        data-observable="true"
      >
        <SectionHeader title="Experience" />
        <!-- experience cards -->
        <ol class="group/list space-y-16 lg:space-y-8">
          {
            EXPERIENCE.map((experience) => (
              <li id={experience.company}>
                <Experience {...experience} />
              </li>
            ))
          }
        </ol>
      </section>

      <!-- Projects -->
      <section
        id="projects"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
        aria-label="Projects"
        data-observable="true"
      >
        <SectionHeader title="Projects" />
        <!-- project cards -->
        <ol class="group/list space-y-16 lg:space-y-8">
          {
            PROJECTS.map((project) => (
              <li id={project.title}>
                <Project {...project} />
              </li>
            ))
          }
        </ol>

        <div class="mt-12 flex w-full items-center justify-center">
          <Button
            as={"a"}
            variant={"outline"}
            gradient={"primary"}
            class="group w-full max-w-40 rounded-full"
            href="/projects/archive/"
            data-astro-prefetch
          >
            View More
            <ArrowR
              class="ml-2 size-4 transition-all duration-100 group-hover:translate-x-1 motion-reduce:transition-none"
            />
          </Button>
        </div>
      </section>
    </main>
  </div>
</Layout>

<!-- scrollspy -->
<script is:inline>
  const threshold = 0.75;

  const changeNav = (entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting && entry.intersectionRatio >= threshold) {
        document.querySelector(".active")?.classList.remove("active");
        const id = entry.target.getAttribute("id");
        const newLink = document
          .querySelector(`[href="#${id}"]`)
          .classList.add("active");
      }
    });
  };

  const options = {
    threshold: threshold,
  };

  const observer = new IntersectionObserver(changeNav, options);

  const sections = document.querySelectorAll("[data-observable='true']");
  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
