---
import { cn } from "@/lib/utils";
import Button from "@/components/ui/button.astro";
import Github from "@/components/icons/github.astro";
import LinkedIn from "@/components/icons/linkedin.astro";
import Envelope from "@/components/icons/envelope.astro";

const { class: className, ...props } = Astro.props;
---

<ul class={cn("flex flex-shrink-0 items-center gap-4", className)} {...props}>
  <li>
    <Button
      variant={"outline"}
      gradient={"primary"}
      as={"a"}
      class={"rounded-full px-5"}
      href={"/resume.pdf"}
      target={"_blank"}
      aria-label={"Tim Machnacki's Resume (opens in a new tab)"}
    >
      Résumé
    </Button>
  </li>
  <li>
    <a
      href="https://github.com/tmachnacki"
      target="_blank"
      aria-label="Tim Machnacki's Github (opens in a new tab)"
      title="Github"
    >
      <Github
        class={"size-6 text-muted-foreground motion-safe:transition-all hover:text-foreground hover:motion-safe:scale-105 hover:motion-safe:-translate-y-1"}
      />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/timothy-machnacki-172b58257"
      target="_blank"
      aria-label="Tim Machnacki's LinkedIn (opens in a new tab)"
      title="LinkedIn"
    >
      <LinkedIn
        class={"size-6 text-muted-foreground motion-safe:transition-all hover:text-foreground hover:motion-safe:scale-105 hover:motion-safe:-translate-y-1"}
      />
    </a>
  </li>
  <li>
    <a
      href="mailto:machnackit@gmail.com"
      target="_blank"
      aria-label="Email Tim Machnacki"
      title="Email: machnackit@gmail.com"
    >
      <Envelope
        class={"size-6 text-muted-foreground motion-safe:transition-all hover:text-foreground hover:motion-safe:scale-105 hover:motion-safe:-translate-y-1"}
      />
    </a>
  </li>
</ul>
