---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import Planet from "@/components/ui/planet.astro";

interface Props extends HTMLAttributes<"li"> {
  name: string;
  description: string;
  backgroundGradientClassName: string;
  borderGradientClassName: string;
  planetClassName: string;
}

const {
  name,
  description,
  backgroundGradientClassName,
  borderGradientClassName,
  planetClassName,
  ...props
} = Astro.props;
---

<li
  class={cn(
    "group relative flex w-full flex-row items-center gap-3 rounded-md border border-white/10 bg-transparent p-4 hover:bg-gradient-to-b cursor-default select-none motion-reduce:transition-none",
    backgroundGradientClassName,
  )}
  {...props}
>
  <span
    aria-hidden="true"
    class={cn(
      "absolute -top-[1px] left-[10%] h-[2px] w-[80%] bg-gradient-to-r from-transparent to-transparent transition-all duration-300 opacity-0 group-hover:opacity-100 motion-reduce:transition-none",
      borderGradientClassName,
    )}></span>

  <Planet class={planetClassName}>
    <slot />
  </Planet>
  <div class="flex flex-col">
    <h3 class="text-base font-medium text-foreground">{name}</h3>
    <p class="text-sm text-muted-foreground">{description}</p>
  </div>
</li>
