---
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div
  class={cn(
    "relative rounded-full aspect-square overflow-hidden h-28 w-28 flex-shrink-0",
    className
  )}
>
  <Image
    src="/avatar.webp"
    alt="Portrait of Tim Machnacki"
    width={160}
    height={160}
    class={"w-full h-full object-contain scale-[250%] object-center rounded-lg absolute inset-0 z-10"}
  />
</div>
