---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";

const title = "";
const description = "";
---

<Layout title={title} description={description}>
  <div class="relative h-dvh">
    <div class="page-container relative grid h-full w-full place-items-center">
      <div
        class="relative flex h-36 w-36 items-center justify-center bg-gradient-to-br from-primary via-background to-background"
      >
        <h1
          class="bg-gradient-to-b from-white to-indigo-300 bg-clip-text text-8xl font-bold tracking-tight text-transparent"
        >
          T
        </h1>
      </div>
    </div>
  </div>
</Layout>
