---
import { cn } from "@/lib/utils";

interface Props {
  label?: string;
  class?: string;
}
const { label, class: className } = Astro.props;
---

<span
  class={cn(
    "text-nowrap shrink-0 inline-flex items-center justify-center bg-primary/10 text-indigo-400 px-3 text-sm font-normal leading-none h-7 w-fit rounded-full border border-primary/20",
    className,
  )}
>
  {label}
</span>
