---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Archive | Tim Machnacki">
  <div class="container min-h-screen">
    <a
      href="/"
      class="mb-2 block bg-opacity-50 bg-gradient-to-b from-foreground to-zinc-300 bg-clip-text text-4xl font-bold tracking-tight text-transparent lg:text-5xl"
    >
      <h1>Tim Machnacki</h1>
    </a>

    Sample
  </div>
</Layout>
