---
import Layout from "@/layouts/layout.astro";
import "@/styles/globals.css";
---

<Layout title="Archive | Tim Machnacki">
  <div class="min-h-screen container">
    <a
      href="/"
      class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-foreground to-zinc-300 bg-opacity-50 mb-2"
    >
      <h1>Tim Machnacki</h1>
    </a>

    Sample
  </div>
</Layout>
