---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";

import { PROJECTS } from "@/data/projects";

import PageTitle from "@/components/page-title.astro";
import ProjectCard from "@/components/project-archive/project-card.astro";
import Breadcrumbs from "@/components/ui/breadcrumbs.astro";

const title = "Projects | Tim Machnacki";
const description =
  "View all of Tim Machnacki's projects. Checkout the Github source code as well as live demos of Tim's full-stack applications.";
---

<Layout title={title} description={description}>
  <div class="absolute left-0 top-6 z-20 w-full lg:top-12">
    <Breadcrumbs
      links={[
        { title: "Tim Machnacki", href: "/", current: false },
        { title: "Projects", href: "/projects", current: true },
      ]}
      class={"relative w-full max-w-screen-xl mx-auto px-6 md:px-12"}
    />
  </div>

  <main class="page-container relative w-full lg:py-24">
    <article class="w-full">
      <PageTitle class="mb-8 lg:mb-12">My Projects</PageTitle>
      <ul
        class="group/list grid w-full grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          PROJECTS.map((project) => (
            <li class="w-full" id={project.title}>
              <ProjectCard {...project} />
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</Layout>
