---
import "@/styles/globals.css";
import "@fontsource-variable/geist";
import geistWoff2 from "@fontsource-variable/geist/files/geist-latin-wght-normal.woff2";

import Grid from "@/components/grid.astro";
import Particles from "@/components/particles";
interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tim Machnacki's frontend software engineer portfolio"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={geistWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Tim Machnacki"}</title>
  </head>
  <body class="custom-scrollbar no-scrollbar relative z-10 bg-background font-sans text-foreground antialiased">
    <Particles
      client:idle
      color="#4338ca"
      className="fixed z-0 h-full w-full"
    />
    <div
      class="absolute inset-0 -z-10 flex h-[500px] w-full items-center justify-center lg:fixed"
    >
      <Grid
        width={80}
        height={80}
        class="stroke-primary/20 [mask-image:linear-gradient(to_bottom_right,background,transparent_50%,transparent)]"
      />
    </div>
    <slot />
  </body>
</html>
