---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span
  class={cn(
    "inline-flex h-5 w-fit shrink-0 items-center justify-center gap-1.5 whitespace-nowrap rounded-md border border-zinc-600/20 bg-zinc-500/15 px-2 py-0.5 text-xs font-medium leading-none text-zinc-300",
    className,
  )}
>
  <slot />
</span>
