---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}
const { class: className, ...props } = Astro.props;
---

<a class={cn("group/gradient-link relative", className)} {...props}>
  <span
    aria-hidden="true"
    class="absolute -bottom-1 left-0 h-px w-0 bg-gradient-to-r from-primary via-primary to-primary/10 opacity-0 transition-all duration-100 group-hover/gradient-link:w-full group-hover/gradient-link:opacity-100 motion-reduce:transition-none"
  ></span>
  <slot />
</a>
