---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import Search from "@/components/icons/search.astro";
interface Props extends HTMLAttributes<"div"> {
  url?: string;
  class?: string;
}
const { url, class: className, ...props } = Astro.props;
---

<div
  class={cn("w-full rounded-lg overflow-hidden", className)}
  {...props}
  aria-label="Browser mockup"
>
  <div class="relative w-full h-12 bg-accent flex items-center justify-center">
    <div
      class="absolute left-4 top-1/2 -translate-y-[1/2] flex items-center gap-2"
    >
      <span
        class="h-3 w-3 rounded-full bg-gradient-to-br from-red-700 to-red-500"
      ></span>
      <span
        class="h-3 w-3 rounded-full bg-gradient-to-br from-yellow-700 to-yellow-500"
      ></span>
      <span
        class="h-3 w-3 rounded-full bg-gradient-to-br from-green-700 to-green-500"
      ></span>
    </div>
    <div
      class="rounded-md h-10 mx-auto border border-input text-input bg-input flex items-center gap-2"
    >
      <Search class="size-4" />
      {url && url}
    </div>
  </div>

  <slot />
</div>
