---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<span
  class={cn(
    "text-nowrap shrink-0 inline-flex items-center justify-center bg-background text-indigo-100/70 px-3 text-sm font-normal leading-none h-6 w-fit rounded-full bg-gradient-to-b from-primary/20 to-primary/0 transition-all duration-100 motion-reduce:transition-none border border-primary/30",
    className,
  )}
>
  <slot />
</span>
